 @import "compass/css3";

/* .squiggles {
  position: absolute;
  stroke: rgba(white, .5);
  stroke-width: 10;
  height: 100%;
  width: 50%;
  left: 0;
  top: 0;
  background-color: aquamarine;
}*/

.extrusion{
  text-shadow:
    0 1px #b7b7b7,
    -1px 0 #7c7c7c,
    -1px 2px #b7b7b7,
    -2px 1px #7c7c7c,
    -2px 3px #b7b7b7,
    -3px 2px #7c7c7c,
    -3px 4px #b7b7b7,
    -4px 3px #7c7c7c,
    -4px 5px #b7b7b7;
/* -5px 4px #7c7c7c,
    -5px 6px #b7b7b7,
    -6px 5px #7c7c7c,
    -6px 7px #b7b7b7,
    -7px 6px #7c7c7c,
    -7px 8px #b7b7b7,
    -8px 7px #7c7c7c*/
     mix-blend-mode: luminosity;
}


body {
    overflow-x: hidden;
    font-family: 'Nunito',"futura-pt";
    text-align: center;
    display: absolute;
}

.three-options{
   width: 800px;
  height:200px;
    align-items: center;
  justify-content: center;

}
.game-icon img{
 /*  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
}

.game-icon{
  width: 200px;
  height:200px;
  margin: 0px 10px 0px 10px;
}
table, td, th {

 margin-left: auto;
    margin-right: auto;
    background-color: 100;

}

.table{
  width: 50%;
	margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: relative;

}
#user_input{
	float:right;
	vertical-align: middle;
	margin-right:00px;

}
a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 25px;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.one {
  background: #EC4D3C;
}

.one a {
  border-radius: 10px;
  color:  #EC4D3C;
  background-color: white;
  background-image: -webkit-radial-gradient(#FCD2D1 2px, rgba(255,0,0,0) 2px);
  background-image: -o-radial-gradient(#FCD2D1 2px, rgba(255,0,0,0) 2px);
  background-image: radial-gradient(#FCD2D1 2px, transparent 2px);
  background-size: 12px 12px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}
.one a:hover {
  background-size: 16px 16px;
}

html {
    background: url(img/paper.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#results {
    display: relative;
    margin-top: 100px;
}

.wiggle {
    animation: wiggle .1s infinite alternate;
    transform-origin: center 60%;
}

#P {
    animation: wiggle .2s infinite alternate;
    transform-origin: center 10%;
}

#header-text {
    text-align: center;
    font-family: "futura-pt";
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: relative;
}


.hidden {
  opacity: 0;
}



#rock-type {
    text-align: center;
    font-size: 5.9vw;
    color: #808397;
    display: inline-block;
    height: 100px;



}


#scissors-type {
    text-align: center;
    font-size: 5.9vw;
    color: #64ABC1;
 	  height: 100px;
    display: inline-block;


}


#paper-type {
    font-size: 5.9vw;
    text-align: center;
    color: #DA5B40;
    display: inline-block;
    height: 100px;
 
}



#play_button {

}

@keyframes wiggle {
    0% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

#outcome {
    display: inline-block;
    text-align: center;
    font-size: 15.9vw;
}

/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
  background-color: #64ABC1;
  max-height:120px;
}


footer a{
  color: white;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0 0px;
  padding: 0;
}

li {
  display: inline-block;
}

/**********************************
ABOUT
***********************************/

.contact-info li.phone a{
  background-image: url("img/phone.png");
}

.contact-info li.twitter a{
  background-image: url("img/twitter.png");
}

.contact-info a{
  background-repeat: no-repeat;
  min-height: 20px;
  display: block;
}


 .contact-info{ 
  display: block;
    margin-left: auto;
    margin-right: auto; 
   max-width: 600px;
    background: url(img/paper.gif) no-repeat center center fixed; /*center center fixed*/
  background-size: 80%;
  background-color: blue;
 -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);

  box-shadow: 3px 3px 3px rgba(0,0,0,0.26);
  border-radius: 3px;
  border: 2px #DA5B40 solid;
  
}


/**********************************
FORM
***********************************/

form {
  max-width: 550px;
  margin: -10px auto;
  padding: 10px 20px;
/*  background: radial-gradient(teal 40%,#000 100%);
*/ /* background: teal;*/
  background: url(img/paper.gif) no-repeat center center fixed;
  background-size: 80%;
 -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);

box-shadow: 3px 3px 3px rgba(0,0,0,0.26);
  border-radius: 5px;
  border: 2px #DA5B40 solid;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 90%;

 -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

#neon{
    text-decoration:none; 
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #51a2c1;



    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; 
}
#neon:hover{
/* color:#0066FF;*/
 color:#266e89;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none; 
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #3DB8C7,
               0 0 70px  #3DB8C7,
               0 0 80px  #3DB8C7,
               0 0 100px #3DB8C7,
               0 0 150px #3DB8C7;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #3DB8C7,
               0 0 35px #3DB8C7,
               0 0 40px #3DB8C7,
               0 0 50px #3DB8C7,
               0 0 75px #3DB8C7;
  }
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }

  @-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF1177,
               0 0 70px  #FF1177,
               0 0 80px  #FF1177,
               0 0 100px #FF1177,
               0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF1177,
               0 0 35px #FF1177,
               0 0 40px #FF1177,
               0 0 50px #FF1177,
               0 0 75px #FF1177;
  }
}

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.number {
  background-color: #DA5B40;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}


